@media screen and (max-width:1200px) {
    html,
    body{
    font-size: 15px;
    }
    
     /* Центрує зображення */
     .main-img{ 
        display: flex;
        justify-content: center;
    }
     
    /* Приховує блок фільтрів */
     .filter{
        display: none !important;
    }

    /* Відображає кнопку фільтрації для мобільних */
     .btn-filter{
        display: block !important;
    }

    /* Додає відступ знизу для блоку відгуків */
    .reviews{
        margin-bottom: 30px;
    }

    /*  Відступ зверху для кошика */
    .cart-md{
        margin-top: 40px;
    }

}

@media screen and (max-width: 992px) {

    /* для центрування хед */
    .header-logo{
       display: flex !important;
       justify-content: center !important;
       padding-bottom: 24px;
    }
    
    /* Видаляє межу для елементів */
    .border-b{
        border: none;
    }

    /* Додає верхню межу для продуктів */
    .card-product{
    border-top: 1px solid var(--text-g);
    }
    
    /* Приховує елементи для мобільної версії */
   .header-mb, .cart-md, .card-price-lg, .nav-head, .component{
        display: none !important;
    }

    /*  Відображає деякі мобільні елементи */
    .card-price-sm, .mb-footer{
        display: block !important;
    }

    /* Вирівнювання цін по правому краю */
    .price{
        justify-content: flex-end;
    }

    /* Зменшує розмір заголовків і тексту опису */
    .features h2 .features p{
        font-size: 1.1rem;
    }

    /* Переводить елементи продукту в колонку */
   .card-product{
    flex-direction: column;
   }

   .card-price_first{
    font-size: 1.1rem;
}
}

