:root {
  --primary-blue: #091D9E;
  --accent-purple: #750DC5;
  --background-light-blue: #BCC5FF;
  --background-white: #F6F6F6;
  --neutral-gray: #C1C1C1;
  --text-dark: #0C0C0C;
  --accent-yellow: #EBBA1A;
  --gradient-primary: linear-gradient(#260DC1, #59006F);
  --success-green: #169B00;
  --text-muted: #454545;
}

html,
body {
  font-family: "Roboto", serif;
}

header,
section,
main,
footer {
  padding-top: 2.5rem;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  color: var(--text-dark);
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 14px;
}

p {
  font-size: 1.12rem;
}

.header-nav {
  border-bottom: 1px solid #C1C1C1;
  padding-bottom: 1.25rem;
}

.catalog {
  background: var(--background-light-blue);
  border-radius: 8px;
  max-height: 240px;
  height: 100%;
}
.catalog img {
  -o-object-fit: cover;
     object-fit: cover;
}

.custom-row-gap {
  row-gap: 22px;
}

.card-btn-control {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  border: 1px solid var(--neutral-gray);
  padding: 0;
  background: transparent;
  transition: all 0.1s ease;
  margin: 10px 0;
}

.card-btn-control:hover {
  background: var(--background-light-blue);
}

.card-btn-control_active {
  border: none;
  background: var(--primary-blue) !important;
}

.card-info-name h3 {
  line-height: 1.5;
}

.card-price {
  display: flex;
  gap: 10px;
  align-items: flex-end;
}
.card-price_first {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--text-dark);
}
.card-price_last {
  font-size: 13px;
  color: var(--neutral-gray);
  text-decoration: line-through;
}

.border-b {
  border-top: 1px solid var(--background-light-blue);
}

.btn-shadow {
  box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.1098039216);
}

.card-availability_sacses {
  color: var(--success-green) !important;
  font-size: 14px;
}

.not-available {
  font-size: 14px;
  color: var(--text-muted) !important;
}

.read-comments {
  font-size: 1.15rem;
  color: var(--primary-blue) !important;
}

.img-sale {
  position: relative;
}
.img-sale .card-sale {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px;
  background: var(--accent-yellow);
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.1rem;
}
.img-sale .card-new {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px;
  background: var(--success-green);
  color: var(--background-white);
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 1.1rem;
}

.navigation > .btn {
  font-size: 2rem;
}

.breadcrumbs {
  color: rgba(171, 171, 171, 0.6705882353);
  padding-bottom: 2rem;
}
.breadcrumbs span:last-child {
  color: var(--text-muted);
}

.btn > .icon {
  padding-right: 10px;
}

.filter {
  max-width: 290px;
  width: 100%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3058823529);
  padding: 1rem;
}

.c-purple {
  color: var(--accent-purple) !important;
}

.integrated-memory h5 {
  margin-bottom: 10px;
}

.btn-filter {
  display: none !important;
}

.mb-footer {
  display: none !important;
  padding: 0;
}
.mb-footer a:first-child {
  color: var(--primary-blue);
}

.block-colors .card-color {
  padding: 1.25rem;
  background: var(--background-white);
  border: 1px solid;
  border-radius: 8px;
  cursor: pointer;
}

.card-color:nth-child(1) {
  background: #FF0000;
  border: none;
}

.card-color:nth-child(2) {
  background: #000;
  border: none;
}

.cart {
  padding: 2.5rem;
  background: var(--background-light-blue);
  border-radius: 8px;
}
.cart span {
  font-size: 1.5rem;
  color: var(--text-dark);
  font-weight: bold;
}

.evaluations span {
  font-size: 1.18rem;
  color: var(--text-muted);
}

.reviews {
  padding: 1.25rem 1rem;
  background: var(--background-light-blue);
}

.live span {
  font-size: 1.25rem;
}
.live img {
  cursor: pointer;
}

.people-comments {
  padding-top: 1.1rem;
  background: var(--background-white);
  border-radius: 8px;
  padding: 1.12rem 1.25rem;
  margin-top: 17px;
}

.users-name {
  position: relative;
  gap: 12px;
}
.users-name::after {
  content: "25.07";
  position: absolute;
  top: 0;
  right: 0;
}
.users-name .star h4 {
  color: var(--text-muted);
}

.users-comments {
  padding-top: 1rem;
  gap: 10px;
}
.users-comments h3 {
  font-weight: 600;
  line-height: 1.5;
}
.users-comments h3 span {
  color: var(--text-muted);
  font-weight: 100;
}
.users-comments h3:last-child {
  color: var(--primary-blue);
}

.footer {
  display: none;
}

.cart-sm {
  background: transparent;
}

.features h3 {
  font-weight: 600;
}
.features p {
  max-width: 237px;
  width: 100%;
}

.card-price-sm {
  display: none !important;
}/*# sourceMappingURL=styles.css.map */