:root{
    --background-green:#e2ffde;
    --background-red:#f7e0e0;
}

*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif; 
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

caption{
    font-size: 26px;
    margin-bottom: 20px;
    font-weight: 600;
}

table {
    width: 70%;
    border-collapse: collapse; 
  }

  th, td {
    border: 1px solid #ddd; 
    padding: 8px; 
    text-align: left;
    width: 200px;
  }

  thead th{
  background: #f8f6f6;
  }

  td:nth-child(1){
   font-style: italic;
  }

  .first-courses {
    background: var(--background-green);
  }

  .second-courses{
    background: var(--background-red);
  }

  